.tituloContacto{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    transition: all 4s ease-in-out;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
form{
    margin-top: 30px;
    transition: all 4s ease-in-out;
}
.form-control{
    width:600px;
    background: transparent;
    border:none;
    outline:none;
    border-bottom: 1px solid gray;
    color: #36424f;
    font-size: 18px;
    margin-bottom:16px;
}

form .form-button{
    background: #36424f;
    border-color: transparent;
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing:2px;
    height:50px;
    margin-top: 20px;
    width: 250px;
}

.form__button{
    display: flex;
    justify-content: space-between;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    border: 0;
  }

#footerContacto{
    margin-top: 0;
  }