header{
    background-color: #36424f;
    width: 100%;
    height:3.8rem;
    border: 5rem;
    ul{
        li{
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
}

.logo{
    width:60px;
    height:60px;
    float: left;

}
.linksHeader{
    display: flex;
    justify-content: flex-end;
    font-family: 'Yusei Magic', sans-serif;
    li{
        padding: 1rem;
        overflow: hidden;
        list-style-type: none;
    }
}
