
.imageTall{
    width:300px;
    height:380px;
}

.imageWide{
    width:322px;
    height:230px;
}
.imageWideCarrousel{
    width:300px;
    height:380px;
}
.tituloNuestrosPerros{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.mainParragraphContainerNuestrosPerros{
    display:flex;
    justify-content: center;
    align-items:center;
}

.mainParragraphNuestrosPerros{
    width:50%;
    height: 25px;
    margin-bottom: 8rem;
    margin-top: 5rem;
}
.carouselFlex{
    display: flex;
    align-items: center;
    justify-content: center;
}